<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>대구 여행지 찾기</title>
</head>

<body>
    <header>
        <h1>대구 여행지 찾기</h1>
    </header>
    <div class="container">
        <aside class="aside">
            <h3>추천 여행지</h3>
            <h6>
                <a href="/site?q=계명한학촌">계명한학촌</a>
                <button><a href="../static/images/감성_계명한학촌.png" target="_blank">감성보기</a></button>
                <!-- <button><a href="../static/images/대구 계명한학촌_긍정키워드.png" target="_blank">긍정키워드</a></button> -->
            </h6>
            <h6>
                <a href="/site?q=고모역">고모역</a>
                <button><a href="../static/images/감성_고모역.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=대구아쿠아리움">대구아쿠아리움</a>
                <button><a href="../static/images/감성_대구아쿠아리움.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=대명유수지">대명유수지</a>
                <button><a href="../static/images/감성_대명유수지.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=도동서원">도동서원</a>
                <button><a href="../static/images/감성_도동서원.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=사문진">사문진</a>
                <button><a href="../static/images/감성_사문진.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=송해공원">송해공원</a>
                <button><a href="../static/images/감성_송해공원.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=신전뮤지엄">신전뮤지엄</a>
                <button><a href="../static/images/감성_신전뮤지엄.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=정호승문학관">정호승문학관</a>
                <button><a href="../static/images/감성_정호승문학관.png" target="_blank">감성보기</a></button>
            </h6>
            <h6>
                <a href="/site?q=진달래군락지">진달래군락지</a>
                <button><a href="../static/images/감성_진달래군락지.png" target="_blank">감성보기</a></button>
            </h6>
        </aside>
        <form method="get" action="/search">
            <input type="text" name="q" id="text-index" placeholder="검색할 키워드를 입력하세요" required />
            <button id="button-index" type="submit">검색</button>
        </form>

    </div>


</body>

</html>