<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>대구 여행지 찾기</title>
</head>

<body>
    <header>
        <h1>대구 여행지 찾기</h1>
    </header>
    <div class="container">
        <aside class="aside">
            <h3>추천 여행지</h3>
            <h6>
                <a href="/site?q=계명한학촌">계명한학촌</a>
                <div>
                    <button><a href="/sentiment_kmy">감성보기</a></button>
                    <button><a href="/recommend?q=계명 학촌">추천콘텐츠</a></button>
                </div>
            </h6>
            <h6>
                <a href="/site?q=고모역">고모역</a>
                <div>
                    <button><a href="/sentiment_gomostn">감성보기</a></button>
                    <button><a href="/recommend?q=고모역">추천콘텐츠</a></button>
                </div>                
            </h6>
            <h6>
                <a href="/site?q=대구아쿠아리움">대구아쿠아리움</a>
                <div>
                    <button><a href="/sentiment_aqua">감성보기</a></button>
                    <button><a href="/recommend?q=아쿠아리움">추천콘텐츠</a></button>
                </div>
           </h6>
            <h6>
                <a href="/site?q=대명유수지">대명유수지</a>
                <div>
                    <button><a href="/sentiment_yusu">감성보기</a></button>
                    <button><a href="/recommend?q=대명 유수지">추천콘텐츠</a></button>
                </div>
            </h6>
            <h6>
                <a href="/site?q=도동서원">도동서원</a>
                <div>
                    <button><a href="/sentiment_dodong">감성보기</a></button>
                    <button><a href="/recommend?q=도동 서원">추천콘텐츠</a></button>
                </div>
            </h6>
            <h6>
                <a href="/site?q=사문진">사문진</a>
                <div>
                    <button><a href="/sentiment_samunjin">감성보기</a></button>
                    <button><a href="/recommend?q=사문진">추천콘텐츠</a></button>
                </div>
            </h6>
            <h6>
                <a href="/site?q=송해공원">송해공원</a>
                <div>
                    <button><a href="/sentiment_songhae">감성보기</a></button>
                    <button><a href="/recommend?q=송해 공원">추천콘텐츠</a></button>
                </div>
            </h6>
            <h6>
                <a href="/site?q=신전뮤지엄">신전뮤지엄</a>
                <div>
                    <button><a href="/sentiment_sinjeon">감성보기</a></button>
                    <button><a href="/recommend?q=신전 뮤지엄">추천콘텐츠</a></button>
                </div>
            </h6>
            <h6>
                <a href="/site?q=정호승문학관">정호승문학관</a>
                <div>
                    <button><a href="/sentiment_jeonghoseung">감성보기</a></button>
                    <button><a href="/recommend?q=정호승 문학관">추천콘텐츠</a></button>
                </div>
            </h6>
            <h6>
                <a href="/site?q=진달래군락지">진달래군락지</a>
                <div>
                    <button><a href="/sentiment_jindallae">감성보기</a></button>
                    <button><a href="/recommend?q=진달래 군락">추천콘텐츠</a></button>
                </div>
            </h6>
        </aside>
        <form method="get" action="/search">
            <input type="text" name="q" id="text-index" placeholder="검색할 키워드를 입력하세요" required />
            <button id="button-index" type="submit">검색</button>
        </form>

    </div>


</body>

</html>