<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>대구 여행지 찾기</title>
</head>

<body>
    <header>
        <h1>대구 여행지 찾기</h1>
    </header>
    <div class="container">
        <aside>
            <h3>추천 여행지</h3>
            <h6>계명한학촌</h6>
            <h6>고모역</h6>
            <h6>대구아쿠아리움</h6>
            <h6>대명유수지</h6>
            <h6>도동서원</h6>
            <h6>사문진</h6>
            <h6>송해공원</h6>
            <h6>신전뮤지엄</h6>
            <h6>정호승문학관관</h6>
            <h6>진달래군락지</h6>
        </aside>
        <form method="get" action="/search">
            <input type="text" name="q" id="text-index" placeholder="검색할 키워드를 입력하세요" required />
            <button id="button-index" type="submit">검색</button>
        </form>
    </div>

    
</body>

</html>