<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>{{ query }}에 대한 검색결과</title>
</head>

<body>
    <a href="/">홈으로</a>
    <form method="get" action="/search">
        <input type="text" name="q" id="text-index" placeholder="검색할 키워드를 입력하세요" required />
        <button id="button-index" type="submit">검색</button>
    </form>
    <header>
        <h1 style="text-align: center">{{ query }}에 대한 검색결과: {{ count }}건</h1>
    </header>
    <div class="container">
        {% if results %}
        <table>
            <thead>
                <tr>
                    <th>관광지</th>
                    <th>키워드 1</th>
                    <th>키워드 2</th>
                    <th>키워드 3</th>
                    <th>관련 블로그</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td>
                        {% if row['site'] == "진달래군락지" %}
                        {{ row['site'] }}
                        {% else%}
                        <a href="https://map.naver.com/v5/search/{{ row['site']}}" target=_blank>{{ row['site'] }}</a>
                        {% endif %}
                    </td>
                    <td>{{ row['keyword1'] }}</td>
                    <td>{{ row['keyword2'] }}</td>
                    <td>{{ row['keyword3'] }}</td>
                    <td class="blog-title" ><a href="{{ row['blog_link'] }}" target="_blank">{{ row['blog_title'] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="text-align: center">검색 결과가 없습니다.</p>
        {% endif %}
    </div>

</body>

</html>