<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>진달래군락지의 감성</title>
</head>
<body>
    <a href="/">홈으로</a>
    <header>
        <h1 style="text-align: center">진달래군락지의 감성</h1>
    </header>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=즐기">즐기다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=예쁘">예쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=가볍">가볍다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=이쁘">이쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=편하">편하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=아름답">아름답다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=멋지">멋지다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=빠르">빠르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=괜찮">괜찮다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=맞추">맞추다</a></button>
    </div>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=힘들">힘들다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=가르">가르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=모르">모르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=아쉽">아쉽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=어렵">어렵다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=내리">내리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=걸리">걸리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=느끼">느끼하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=놓치">놓치다</a></button>
        <button><a href="/sentiment_kmy/detail?table=진달래군락지&sentiment=떨어지">떨어지다</a></button>
    </div>
    <div class="image-container">
        <img class="sentiment-img" src="../static/images/감성_진달래군락지.png" alt="감성_진달래군락지">
    </div>
</body>
</html>