<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>대구아쿠아리움의 감성</title>
</head>
<body>
    <a href="/">홈으로</a>
    <header>
        <h1 style="text-align: center">대구아쿠아리움의 감성</h1>
    </header>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=귀엽">귀엽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=재밌">재밌다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=재미있">재미있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=예쁘">예쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=즐기">즐기다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=신나">신나다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=편하">편하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=알차">알차다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=맛있">맛있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=즐겁">즐겁다</a></button>
    </div>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=모르">모르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=힘들">힘들다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=무섭">무섭다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=놓치">놓치다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=아쉽">아쉽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=느끼">느끼하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=놀라">놀라다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=어렵">어렵다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=지나치">지나치다</a></button>
        <button><a href="/sentiment_kmy/detail?table=대구아쿠아리움&sentiment=무서워하">무서워하다</a></button>
    </div>
    <div class="image-container">
        <img class="sentiment-img" src="../static/images/감성_대구아쿠아리움.png" alt="감성_대구아쿠아리움">
    </div>
</body>
</html>