<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>사문진의 감성</title>
</head>
<body>
    <a href="/">홈으로</a>
    <header>
        <h1 style="text-align: center">사문진의 감성</h1>
    </header>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=맛있">맛있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=즐기">즐기다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=예쁘">예쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=괜찮">괜찮다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=편하">편하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=가볍">가볍다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=아름답">아름답다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=빠르">빠르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=즐겁">즐겁다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=이쁘">이쁘다</a></button>
    </div>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=모르">모르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=느끼">느끼하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=힘들">힘들다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=아쉽">아쉽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=내리">내리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=떨어지">떨어지다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=어렵">어렵다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=걸리">걸리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=바쁘">바쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=사문진&sentiment=나쁘">나쁘다</a></button>
    </div>
    <div class="image-container">
        <img class="sentiment-img" src="../static/images/감성_사문진.png" alt="감성_사문진">
    </div>
</body>
</html>