<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>도동서원의 감성</title>
</head>
<body>
    <a href="/">홈으로</a>
    <header>
        <h1 style="text-align: center">도동서원의 감성</h1>
    </header>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=예쁘">예쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=즐기">즐기다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=맛있">맛있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=아름답">아름답다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=이쁘">이쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=멋지">멋지다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=맛있">맛있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=괜찮">괜찮다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=갖추">갖추다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=편하">편하다</a></button>
    </div>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=느끼">느끼다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=모르">모르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=아쉽">아쉽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=떨어지">떨어지다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=힘들">힘들다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=어렵">어렵다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=내리">내리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=놓치">놓치다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=걸리">걸리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=도동서원&sentiment=바쁘">바쁘다</a></button>
    </div>
    <div class="image-container">
        <img class="sentiment-img" src="../static/images/감성_도동서원.png" alt="감성_도동서원">
    </div>
</body>
</html>