<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>신전뮤지엄의 감성</title>
</head>
<body>
    <a href="/">홈으로</a>
    <header>
        <h1 style="text-align: center">신전뮤지엄의 감성</h1>
    </header>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=맛있">맛있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=재밌">재밌다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=귀엽">귀엽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=재미있">재미있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=꾸미">꾸미다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=신나">신나다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=예쁘">예쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=괜찮">괜찮다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=즐기">즐기다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=편하">편하다</a></button>
    </div>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=모르">모르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=아깝">아깝다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=비싸">비싸다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=아쉽">아쉽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=내리">내리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=힘들">힘들다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=어렵">어렵다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=지나치">지나치다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=귀찮">귀찮다</a></button>
        <button><a href="/sentiment_kmy/detail?table=신전뮤지엄&sentiment=느끼">느끼하다</a></button>
    </div>
    <div class="image-container">
        <img class="sentiment-img" src="../static/images/감성_신전뮤지엄.png" alt="감성_신전뮤지엄">
    </div>
</body>
</html>