<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>송해공원의 감성</title>
</head>
<body>
    <a href="/">홈으로</a>
    <header>
        <h1 style="text-align: center">송해공원의 감성</h1>
    </header>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=맛있">맛있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=예쁘">예쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=즐기">즐기다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=괜찮">괜찮다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=편하">편하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=이쁘">이쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=부드럽">부드럽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=빠르">빠르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=어울리">어울리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=좋아하">좋아하다</a></button>
    </div>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=모르">모르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=느끼">느끼하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=외롭">외롭다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=내리">내리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=힘들">힘들다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=떨어지">떨어지다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=아쉽">아쉽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=어렵">어렵다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=아프">아프다</a></button>
        <button><a href="/sentiment_kmy/detail?table=송해공원&sentiment=슬프">슬프다</a></button>
    </div>
    <div class="image-container">
        <img class="sentiment-img" src="../static/images/감성_송해공원.png" alt="감성_송해공원">
    </div>
</body>
</html>