<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>고모역의 감성</title>
</head>
<body>
    <a href="/">홈으로</a>
    <header>
        <h1 style="text-align: center">고모역의 감성</h1>
    </header>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=맛있">맛있다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=꾸미">꾸미다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=편하">편하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=괜찮">괜찮다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=즐기">즐기다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=좋아하">좋아하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=부드럽">부드럽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=야무지">야무지다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=예쁘">예쁘다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=이쁘">이쁘다</a></button>
    </div>
    <div class="sentiment-container">
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=내리">내리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=모르">모르다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=걸리">걸리다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=아쉽">아쉽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=느끼">느끼하다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=힘들">힘들다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=어렵">어렵다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=시끄럽">시끄럽다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=막히">막히다</a></button>
        <button><a href="/sentiment_kmy/detail?table=고모역&sentiment=맛없">맛없다</a></button>
    </div>
    <div class="image-container">
        <img class="sentiment-img" src="../static/images/감성_고모역.png" alt="감성_고모역">
    </div>
</body>
</html>